<ng-template #loading>
    <app-loading></app-loading>
</ng-template>
<h1 *ngIf="book; else loading">{{book.title}} <a [routerLink]="['/book/edit/', book.id]" class="icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></h1>
<div class="details" *ngIf="book; else loading">
    <div class="details__row">
        <div class="details__label">Name</div>
        <div class="details__value">
            {{book.title}}
        </div>
    </div>
    <div class="details__row">
        <div class="details__label">Author(s)</div>
        <div class="details__value">
            {{book.author}}
        </div>
    </div>
    <div class="details__row">
        <div class="details__label">Genre</div>
        <div class="details__value">
            {{book.genre}}
         </div>
    </div>
    <div class="details__row">
        <div class="details__label">Year</div>
        <div class="details__value">
            {{book.year}}
        </div>
    </div>
    <div class="details__row">
        <div class="details__label">Brief description</div>
        <div class="details__value" [innerHTML]="book.description"></div>
    </div>
    <div class="details__row">
        <div class="details__label">Buy</div>
        <div class="details__value">
            {{book.buy}}
        </div>
    </div>
    <div class="details__row">
        <div class="details__label">Status</div>
        <div class="details__value">
            <book-status [id]="book.id" [availability]="book.holder === 0" [info]="true" [actions]="true"></book-status>
        </div>
    </div>
</div>