<h1>Angular 2 By Example</h1>

<div class="details">
    <div class="details__row">
        <div class="details__label">Name</div>
        <div class="details__value">
            Angular 2 By Example
        </div>
    </div>
    <div class="details__row">
        <div class="details__label">Author(s)</div>
        <div class="details__value">
            <a href="#">Chandermani Arora</a>, <a href="#">Kevin Hennessy</a>
        </div>
    </div>
    <div class="details__row">
        <div class="details__label">Genre</div>
        <div class="details__value">
            <a href="#">Technology</a>
         </div>
    </div>
    <div class="details__row">
        <div class="details__label">Year</div>
        <div class="details__value">
            November 2016
        </div>
    </div>
    <div class="details__row">
        <div class="details__label">Brief description</div>
        <div class="details__value">
            <p>Angular 2 will help you build faster, more efficient, and more flexible cross-platform applications. Angular 2 is known for taking the pain out of JavaScript development, and enabling more organized, readable, and testable code.</p>
            <p>This book builds three apps with varying degrees of complexity. It starts with a simple ‘Guess the Number’ game, which serves as a platform to launch you into the world of Angular. Next, you will learn to construct a popular ‘7-Minute Workout’ app, covering the building blocks of Angular. The final app, ‘Personal Trainer’ morphs the existing ‘7-Minute Workout’ into a full-fledged personal workout builder and runner, covering advanced directive building, which is the most fundamental and powerful feature of Angular.</p>
            <p>In addition to this, you will learn about testability and the framework constructs Angular provides to effectively test your app. The book concludes by providing you with practical advice and useful tips that will come in handy as you build more and more apps with Angular.</p>
        </div>
    </div>
    <div class="details__row">
        <div class="details__label">Buy</div>
        <div class="details__value">
            <a href="https://www.packtpub.com/web-development/angular-2-example" target="_blank">Packt</a>
        </div>
    </div>
</div>