<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Year</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Learning Angular 2</td>
            <td>Pablo Deeleman</td>
            <td>Technology</td>
            <td>2016</td>
            <td>Available</td>
        </tr>
        <tr>
            <td>Angular 2 By Example</td>
            <td>Chandermani Arora, Kevin Hennessy</td>
            <td>Technology</td>
            <td>2016</td>
            <td>Available</td>
        </tr>
        <tr>
            <td>Angular 2 Blueprints</td>
            <td>Vinci Rufus</td>
            <td>Technology</td>
            <td>2016</td>
            <td>Available</td>
        </tr>
    </tbody>
</table>