<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Year</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <!-- TODO: Redo links, use router instead -->
            <td><a href="/#/book/view/1">Learning Angular 2</a></td>
            <td>Pablo Deeleman</td>
            <td>Technology</td>
            <td>2016</td>
            <td>Available</td>
            <td><a href="/#/book/edit/3">Edit</a></td>
        </tr>
        <tr>
            <td><a href="/#/book/view/2">Angular 2 By Example</a></td>
            <td>Chandermani Arora, Kevin Hennessy</td>
            <td>Technology</td>
            <td>2016</td>
            <td>Available</td>
            <td><a href="/#/book/edit/3">Edit</a></td>
        </tr>
        <tr>
            <td><a href="/#/book/view/3">Angular 2 Blueprints</a></td>
            <td>Vinci Rufus</td>
            <td>Technology</td>
            <td>2016</td>
            <td>Available</td>
            <td><a href="/#/book/edit/3">Edit</a></td>
        </tr>
    </tbody>
</table>