
<div class="app-filter">
    <div class="app-filter__row">
        <div class="app-filter__cell">
            <label class="app-filter__label">Title:</label>
            <div class="app-filter__field">
                <input type="text" class="form-control" [(ngModel)]="filterTitle">
            </div>
        </div>
        <div class="app-filter__cell">
            <label class="app-filter__label">Author:</label>
            <div class="app-filter__field">
                <input type="text" class="form-control" [(ngModel)]="filterAuthor">
            </div>
        </div>
        <div class="app-filter__cell">
            <label class="app-filter__label">Genre:</label>
            <div class="app-filter__field">
                <select class="form-control" [(ngModel)]="filterGenre">
                    <option value="0">Any</option>
                    <option value="Technology">Technology</option>
                    <option value="Detective">Detective</option>
                </select>
            </div>
        </div>
        <div class="app-filter__cell">
            <label class="app-filter__label">Availability:</label>
            <div class="app-filter__field">
                <select class="form-control" [(ngModel)]="filterAvailability">
                    <option value="0">Any</option>
                    <option value="true">Available</option>
                    <option value="false">Out of stock</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="loading-indicator" *ngIf="loading">loading...</div>
<table class="table" *ngIf="!loading">
    <thead>
        <tr>
            <th><span class="table__sorter" (click)="sort('title')">Title</span></th>
            <th><span class="table__sorter" (click)="sort('author')">Author</span></th>
            <th><span class="table__sorter" (click)="sort('genre')">Genre</span></th>
            <th><span class="table__sorter" (click)="sort('year')">Year</span></th>
            <th><span class="table__sorter" (click)="sort('isAvailable')">Status</span></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books | booksFilter:filterTitle:filterAuthor:filterGenre:filterAvailability | booksSort:sortKey:ascSort">
            <td><a [routerLink]="['book/view/', book.id]">{{book.title}}</a></td>
            <td>{{book.author}}</td>
            <td>{{book.genre}}</td>
            <td>{{book.year}}</td>
            <td>
                <div [ngSwitch]="book.isAvailable">
                    <div *ngSwitchCase="'true'">Available</div>
                    <div *ngSwitchCase="'false'">Out of stock</div>
                </div>
            </td>
            <td><a [routerLink]="['book/edit/', book.id]">Edit</a></td>
        </tr>
    </tbody>
</table>