.table {
    width: 100%;
     border-collapse: collapse;
}
    .table tr {
        border-bottom: 1px solid #eee;
    }
        .table tr:hover td {
            background-color: #fafafa;
        }
    .table th,
    .table td {
        padding: 10px;
        font-size: 14px;
    }
    .table th {
        font-size: 12px;
        font-weight: 500;
        text-align: left;
        color: #666;
    }
        .table__sorter:hover {
            color: #222;
            text-decoration: underline;
            cursor: pointer;
        }
    .table td {
        font-weight: 400;
    }
