.app-loading {
    padding: 20px;
    background-color: #efefef;
    text-align: center;
}
.app-loading__indicator {
    position: relative;
    width: 46px;
    height: 46px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 23px;
}
.app-loading__indicator::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 46px;
    height: 46px;
    box-sizing: border-box;
    border: 2px solid #aaa;
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 23px;

    animation-name: __animateLoading;
    animation-duration: .35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes __animateLoading {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}