<h1>Edit Book</h1>

<div class="form">
    <div class="form__row">
        <label class="form__label" for="name">Name</label>
        <div class="form__field">
            <input type="text" id="name" class="form-control">
        </div>
    </div>
    <div class="form__row">
        <label class="form__label" for="author">Author(s)</label>
        <div class="form__field">
            <input type="text" id="author" class="form-control">
        </div>
    </div>
    <div class="form__row">
        <label class="form__label" for="category">Categories</label>
        <div class="form__field">
            <input type="text" id="category" class="form-control">
        </div>
    </div>
    <div class="form__row">
        <label class="form__label" for="year">Year</label>
        <div class="form__field">
            <input type="text" id="year" class="form-control">
        </div>
    </div>
    <div class="form__row">
        <label class="form__label" for="description">Brief description</label>
        <div class="form__field">
            <textarea id="description" class="form-control"></textarea>
        </div>
    </div>
    <div class="form__row">
        <label class="form__label" for="buy">Buy (link)</label>
        <div class="form__field">
            <input type="text" id="buy" class="form-control">
        </div>
    </div>
    <div class="form__row form__row--actions">
        <button type="submit" class="form-button">Save</button>
    </div>
</div>